body {
  font-family: 'Figtree', 'sans-serif';
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  box-shadow: 8px 8px 0px black;
  border: 1px solid black;
}

.main-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.tag {
  background-color: hsl(47, 88%, 63%);
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.date {
  font-size: 0.75rem;
  color: hsl(0, 0%, 50%);
  margin: 10px 0;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  margin: 10px 0;
  cursor: pointer;
}

.title:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  font-size: 0.9rem;
  color: hsl(0, 0%, 50%);
  margin-bottom: 20px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.author span {
  font-weight: bold;
  font-size: 0.85rem;
}